<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherLondon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeatherLondonMocked.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DDF96F61F7AA12F00059969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DFA5C901F7906370052E6D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DFA5CA41F7906370052E6D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DFA5CE81F7908130052E6D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
